{% extends "qsub/_base.qsub.j2" %}
{% block programs %}
PPCOMMAND="{{ qe_bin }}/pp.x"
{% endblock %}
{% block body %}
{% if xsf_dir %}
{# pp.x does not make the folder of fileout: without it the write of the .xsf fails. #}
mkdir -p {{ xsf_dir }}

{% endif %}
{# The three SCFs share the K_POINTS automatic, so they run alike: MPI and the same pools. #}
{% for input, output in pw_runs %}
${MPICOMMAND} ${PWCOMMAND} -i "{{ input }}" > "{{ output }}"
{% endfor %}

{# pp.x runs without MPI, also as in cargas.qsub. #}
{% for input, output in pps %}
${PPCOMMAND} -i "{{ input }}" > "{{ output }}"
{% endfor %}

${PPCOMMAND} -i "{{ diff[0] }}" > "{{ diff[1] }}"
{% endblock %}
