{% extends "qsub/_base.qsub.j2" %}
{% block programs %}
PROJWFCCOMMAND="{{ qe_bin }}/projwfc.x"
{% endblock %}
{% block body %}
${MPICOMMAND} ${PWCOMMAND} -i "scf.in" > "scf.out"

${MPICOMMAND} ${PWCOMMAND} -i "nscf.in" > "nscf.out"

${PROJWFCCOMMAND} -i "projwfc.in" > "projwfc.out"
{% endblock %}
{% block post %}

{# projwfc.x names its projections <filpdos>.pdos_atm#N(El)_wfc#M(l) and detection reads them from orbitals/. A glob on "wfc" would also move projwfc.in and projwfc.out. #}
mkdir -p orbitals
mv *pdos_atm#* orbitals/ 2>/dev/null
{% endblock %}
