{% extends "qsub/_base.qsub.j2" %}
{% block body %}
{% for input, output in pw_runs %}
${MPICOMMAND} ${PWCOMMAND} -i "{{ input }}" > "{{ output }}"
{% if not loop.last %}

{% endif %}
{% endfor %}
{% endblock %}
