&PROJWFC
  prefix = {{ prefix | fstr }}
  outdir = {{ outdir | fstr }}
  DeltaE = {{ delta_e | fnum }}
  filpdos = {{ filpdos | fstr }}
  Emin = {{ e_min | fnum }}
  Emax = {{ e_max | fnum }}
{% if broadening %}
  ngauss = {{ ngauss }}
  degauss = {{ degauss | fnum }}
{% endif %}
/
